version: "3.8"

services:
  php:
    build: .
    container_name: php_app
    depends_on:
      - mysql
    ports:
      - "8080:80"

  mysql:
    image: mysql:8
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root@123
      MYSQL_DATABASE: growmore
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
