version: "3.8"

services:
  php:
    build: .
    depends_on:
      - mysql
    ports:
      - "8080:80"
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASS: root@123
      DB_NAME: growmore

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root@123   # <--- REQUIRED
      MYSQL_DATABASE: growmore
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
