services:
  php:
    build: .
    ports:
      - "8080:80"
    depends_on:
      - mysql
    networks:
      - appnet

  mysql:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: growmore
    networks:
      - appnet

networks:
  appnet:
